# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
embedded/AirController/.vs/AirController/v14/.atsuo
*.atsln
*.cppproj
*.xml
*.eep
*.eep
*.elf
*.hex
*.lss
*.map
*.srec
embedded/AirController/AirController/Debug/AirController.srec
embedded/Air_AVR/.vs/Air_AVR/v14/.atsuo
*.mk
embedded/Air_AVR/Debug/Makefile
computer/src/DataLog.h
computer/.vscode/settings.json
*.pdsbak
*.workspace
computer/computer
*.bat
*.gradle
SmartphoneDemo/gradlew
*.jar
SmartphoneDemo/gradle/wrapper/gradle-wrapper.properties
*.java
*.png
SmartphoneDemo/.idea/.name
*.pro
*.properties
SmartphoneDemo/app/src/main/cpp/helloworld-c.cpp
SmartphoneDemo/app/CMakeLists.txt
*.iml
*.ser
*.json
*.log
smarthphone_demo/app/.cxx/cmake/debug/arm64-v8a/.ninja_deps
smarthphone_demo/app/.cxx/cmake/debug/arm64-v8a/.ninja_log
*.txt
*.ninja
*.cmake
*.bin
*.check_cache
smarthphone_demo/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/feature_tests.c
*.cxx
smarthphone_demo/app/src/test/java/com/example/hello_cmake/ExampleUnitTest.kt
smarthphone_demo/gradlew
smarthphone_demo/.idea/.name
